@(newOwner: Form[Owner])(implicit flash:Flash)
@import helper._
@import helper.twitterBootstrap._

@formInput(attr: String, label: String, value: Any) = {
	<div class="form-group">
    	<label for="@attr" class="col-sm-2 control-label">@label</label>
    	<div class="col-sm-10">
      		<input style="width:270px;" type="text" value="@value" name="@attr" class="form-control" id="@attr">
    	</div>
    </div>
}

@main("New Owner") {
	
	@form(action=routes.OwnerController.newOwner(), 'class -> "form-horizontal") {
		@formInput("first", "First Name", "")
		@formInput("last", "Last Name", "")
		@formInput("address", "Address", "")
		@formInput("city", "City", "")
		@formInput("phone", "Phone", "")
		<button style="margin-left:107px" type="submit" class="btn btn-primary">Save</button>
	}
		
}
