@(id: Int, editForm: Form[Owner])(implicit flash: Flash)
@import helper._
@formInput(attr: String, label: String, value: Any) = {
	<div class="form-group">
    	<label for="@attr" class="col-sm-2 control-label">@label</label>
    	<div class="col-sm-10">
      		<input style="width:270px;" type="text" value="@value" name="@attr" class="form-control" id="@attr">
    	</div>
    </div>
}

@main("Edit Owner") {
	@form(action=routes.OwnerController.updateOwner(id), 'class -> "form-horizontal") {
		<input type="hidden" name="id" value="@editForm.get.id.get">
		@formInput("first", "First Name", editForm.get.first)
		@formInput("last", "Last Name", editForm.get.last)
		@formInput("address", "Address", editForm.get.address)
		@formInput("city", "City", editForm.get.city)
		@formInput("phone", "Phone", editForm.get.phone)
		<button style="margin-left:107px" type="submit" class="btn btn-primary">Update</button>	
	}
}
